
input {
  width: 282px;
  height: 40px;
  padding: 10px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  background: var(--white);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(91, 34, 112, 0.32);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 25px rgba(113, 68, 129, 0.14));
    outline: none;
    background: var(--white);
  }

  &:disabled {
    filter: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

input[type="file"] {
  color: transparent;
  box-shadow: none;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 16px;
  border: none;
  border-radius: 100px;
  background: var(--turquoise-gradient);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  transition: all 0.2s;

  &:hover {
    background: var(--pink-orange-gradient);
    box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
  }

  &::file-selector-button {
    display: none;
  }

  &::after {
    color: white;
    content: "+";
    position: absolute;
    font-size: 64px;
    top: 28px;
    left: 14px;
  }
}

label[for="file"] {
  display: none;
}

.expiration {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  box-shadow: none;
  margin-right: 12px;

  &::-webkit-slider-thumb {
  }
}

.fileExpiry {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 120px;
  }
  button.other {
    background: var(--pink-gradient);
    color: var(--white);
  }
}

.stats {
  display: flex;

  .stat {
    filter: drop-shadow(0px 0px 25px rgba(98, 11, 129, 0.12));
    background: white;
    margin-right: 24px;
    text-align: center;
    padding: 8px;
    width: 100px;

    p {
      margin: 0;
    }

    h2 {
      font-size: 12px;
      font-weight: normal;
    }

    p.bigNumber {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 46px;
      background: var(--purple-pink-orange-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .bigUnit {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.helper-text-in-pay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ferry-spinner {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}

.menu {
  p {
    font-size: 12px;
    text-align: center;
  }

  button {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: var(--white);
    border-radius: 100%;
    box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  }
}

.userDetails {
  padding: 48px;
  display: grid;
}

table {
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 32px;
  border-collapse: collapse;

  thead {
    border-radius: 20px;
    height: 72px;
    box-shadow: 0px 0px 33px rgba(57, 29, 118, 0.18);
    border-radius: 20px 20px 0px 0px;
    padding: 24px;

    tr {
      th:first-child {
        padding-left: 24px;
      }
    }
  }

  th {
    text-align: start;
    padding: 8px;
    border-radius: 20px;
  }

  td {
    min-width: 150px;
    padding: 8px;
  }

  tbody {
    tr:nth-child(even) {
      background: white;
    }

    tr:nth-child(odd) {
      background: linear-gradient(90deg, #fcf8ff 39.37%, #fff9eb 100%);
    }
  }
}

.tokens {
  margin-top: 48px;
  padding: 48px;
}

button.viewOnPolyscan {
  width: fit-content;
  color: var(--white);
  background: var(--purple-pink-orange-gradient);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
  }
}

h2.nftName {
  width: fit-content;
  background: var(--purple-pink-orange-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nftDetails {
}

.nftContainer {
  padding: 24px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
