html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --black: #404040;
  --turquoise: #49FDFD;
  --blue: #5295A5;
  --purple: #A775F3;
  --yellow: #F8CE64;
  --pink: #FA74AE;
  --brown: #857987;
  --grey: #b1b1b1;
  --turquoise-gradient: linear-gradient(130.61deg, #00E0FF 14.74%, #66D8CA 67.28%);
  --blue-gradient: linear-gradient(121.46deg, #6AAAB9 8.44%, #437581 47.02%, #34565F 83.26%);
  --purple-gradient: linear-gradient(113.28deg, #D982F8 8.12%, #8444E6 92.8%);
  --yellow-gradient: linear-gradient(148.58deg, #FEE146 29.61%, #F8CE64 82.57%);
  --pink-gradient: linear-gradient(110.69deg, #FE9DC7 7.16%, #FA74AE 48.77%, #BE4579 88.66%);
  --pink-orange-gradient: linear-gradient(77.23deg, #F173CD 4.4%, #E394C0 45.66%, #FFB800 111.45%);
  --purple-pink-orange-gradient: linear-gradient(77.23deg, #8055FC 26.71%, #E394C0 80.79%, #FFB800 111.45%);
}

* {
  box-sizing: border-box;
  color: var(--black);
  transition: all 0.2s;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 10px;
  width: 101px;
  height: 48px;
  border: none;
  outline: none;
  white-space: nowrap;
  
  &.default {
    color: var(--white);
    background: var(--purple-gradient);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
    }

    &.selected {
      box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
      border: 1px solid;
      border-image-source: linear-gradient(77.23deg, #F173CD 4.4%, #E394C0 45.66%, #FFB800 111.45%);
    }

    &:hover, &.selected {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }

    &:disabled {
      background: var(--brown);
      color: var(--grey);
      box-shadow: none;
      font-style: normal;
      font-weight: normal;
    }
  }

  &.secondary {
    color: var(--white);
    background: var(--purple-gradient);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
    }

    &.selected {
      box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
      border: 1px solid;
      border-image-source: linear-gradient(77.23deg, #F173CD 4.4%, #E394C0 45.66%, #FFB800 111.45%);
    }

    &:hover, &.selected {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }

    &:disabled {
      background: var(--brown);
      color: var(--grey);
      box-shadow: none;
      font-style: normal;
      font-weight: normal;
    }
  }
}

input {
  width: 282px;
  height: 40px;
  padding: 10px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  background: var(--white);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(91, 34, 112, 0.32);

  &:hover, &:focus {
    filter: drop-shadow(0px 0px 25px rgba(113, 68, 129, 0.14));
    outline: none;
    background: var(--white);
  }

  &:disabled {
    filter: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

input[type="file"] {
  color: transparent;
  box-shadow: none;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 16px;
  border: none;
  border-radius: 100px;
  background: var(--turquoise-gradient);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  transition: all 0.2s;

  &:hover {
    background: var(--pink-orange-gradient);
    box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
  }

  &::file-selector-button {
    display: none;
  }

  &::after {
    color: white;
    content: "+";
    position: absolute;
    font-size: 64px;
    top: 28px;
    left: 14px;
  }
}

label[for="file"] {
  display: none;
}

.expiration {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  box-shadow: none;
  margin-right: 12px;

  &::-webkit-slider-thumb {
  }
}

.fileExpiry {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 120px;
  }
  button.other {
    background: var(--pink-gradient);
    color: var(--white);
  }
}

.stats {
  display: flex;

  .stat {
    filter: drop-shadow(0px 0px 25px rgba(98, 11, 129, 0.12));
    background: white;
    border-radius: 10px;
    margin: 0px 16px;
    text-align: center;
    padding: 8px;
    width: 100px;

    p {
      margin: 0;
    }

    h2 {
      font-size: 12px;
      font-weight: normal;
    }

    p.bigNumber {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 46px;
      background: var(--purple-pink-orange-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .bigUnit {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.helper-text-in-pay{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ferry-spinner{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}

.menu {
  p {
    font-size: 12px;
    text-align: center;
  }

  button {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: var(--white);
    border-radius: 100%;
    box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  }
}

.userDetails {
  padding: 32px;
}

table {
  box-shadow: 0px 0px 33px rgba(57, 29, 118, 0.18);
  border-radius: 20px 20px 0px 0px;
  padding: 32px;

  th {
    text-align: start;
    padding: 8px;
    background: white;
  }

  td {
    min-width: 150px;
    padding: 8px;
  }

  tr:nth-child(even) {
    background: white;
  }

  tr:nth-child(odd) {
    background: linear-gradient(90deg, #FCF8FF 39.37%, #FFF9EB 100%);
  }
}

.tokens {
  margin-top: 48px;
  padding: 32px;
}

button.viewOnPolyscan {
  width: fit-content;
  border: 1px solid;
  background: white;
  border: linear-gradient(77.23deg, #8055FC 26.71%, #E394C0 80.79%, #FFB800 111.45%);

}