
.expiration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileExpiry {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 120px;
  }
  button.other {
    background: var(--pink-gradient);
    color: var(--white);
  }
}

.stats {
  display: flex;

  .stat {
    filter: drop-shadow(0px 0px 25px rgba(98, 11, 129, 0.12));
    background: white;
    margin-right: 24px;
    text-align: center;
    padding: 8px;
    width: 100px;

    p {
      margin: 0;
    }

    h2 {
      font-size: 12px;
      font-weight: normal;
    }

    p.bigNumber {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 46px;
      background: var(--purple-pink-orange-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .bigUnit {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.helper-text-in-pay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ferry-spinner {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}

.menu {
  p {
    font-size: 12px;
    text-align: center;
  }

  button {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: var(--white);
    border-radius: 100%;
    box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  }
}

.userDetails {
  padding: 48px;
  display: grid;
}


.tokens {
  margin-top: 48px;
  padding: 48px;
}

button.viewOnPolyscan {
  width: fit-content;
  color: var(--white);
  background: var(--purple-pink-orange-gradient);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
  }
}

h2.nftName {
  width: fit-content;
  background: var(--purple-pink-orange-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nftDetails {
}

.nftContainer {
  padding: 24px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
