.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  display: grid;
  /* justify-content: start; */
  align-items: center;
}
