.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: start;
  align-content: center;
  padding: 120px;
  padding-bottom: 240px;
}

.form {
  min-width: 300px;
  display: grid;
  gap: 0.5rem;
}

.label {
  display: none;
}

.logo {
  width: 100px;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
}

.getStarted {
  padding: 12px 64px;
}

.email {
  margin-bottom: 16px;
}

.termsAndConditions {
  font-weight: bold;
}

.termsAndConditionsLink {
  text-decoration: underline;
  cursor: pointer;
}