.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.form {
  min-width: 300px;
  display: grid;
  gap: 0.5rem;
}

.label {
  display: none;
}