.navbar {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 1fr 1fr auto;
  height: 4.5rem;
  width: 100vw;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  background: rgba(251, 251, 251, 0.05);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25), inset 0px 0px 8px rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(140px);
}

.imageWrapper {
  margin-left: 1.5rem;
  margin-top: .5rem;
}

.link {
  text-decoration: none;
  text-align: center;
}

.userMenu {
  width: fit-content;
  font-weight: bold;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 12px;
  background: rgba(251, 251, 251, 0.05);
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  cursor: pointer;
}