.navbar {
  position: fixed;
  display: flex;
  height: 4.5rem;
  width: 100vw;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  background: rgba(251, 251, 251, 0.05);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25), inset 0px 0px 8px rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(140px);
  border-radius: 10px;
}