.navbar {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 1fr 1fr auto;
  height: 4.5rem;
  width: 100vw;
  align-items: center;
  z-index: 2;
  background: rgba(251, 251, 251, 0.05);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25),
    inset 0px 0px 8px rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(140px);
}

.imageWrapper {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  height: 100%;

  &:hover {
    background: var(--purple-pink-orange-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid var(--purple);
  }
}

.userMenu {
  width: fit-content;
  font-weight: bold;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 12px;
  background: rgba(251, 251, 251, 0.05);
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  cursor: pointer;
}

.userOptions {
  display: grid;
  padding: 32px;
  position: absolute;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  width: 230px;
  right: 16px;
  top: 5rem;
  background: white;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(98, 11, 129, 0.12);
  border-radius: 30px;
  transition: all 0.4s;

  &.hidden {
    top: -500px;
    opacity: 0;
  }
}

.button {
  width: 140px;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 17px rgba(116, 6, 226, 0.37);
  }

  &:first-child {
    background: var(--purple-pink-orange-gradient);
  }

  &:nth-child(2) {
    background: var(--pink-orange-gradient)
  }

  &:nth-child(3) {
    background: var(--pink-gradient);
  }
}