.formContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding: 20px;
}

.form {
  display: grid;
  position: relative;
  margin-bottom: 40px;
}

.fileInputContainer {
  display: flex;
  align-items: center;
  margin: 32px 0px;
}

.container {
  background: var(--white);
  padding: 32px 28px;
  border-radius: 10px;
  width: 370px;
  height: 274px;
  margin: 10px 0px;
}

.heading, .spaceUsed {
  margin: 0;
  padding: 0;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin: 4px 0px;
}

.spaceUsed {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 4px 0px;
}

.fileDetails {
  padding: 4px 16px;
  border-radius: 10px;
  width: 282px;
  height: 41px;
  background: var(--white);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.noFileChosen {
  width: 118px;
  height: 24px;
  left: 28px;
  top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
}

.divider, .email {
  margin: 20px 0px;
}

.submitButton {
  position: absolute;
  bottom: -96px;
  left: calc(50% - 50px);
}

.progressContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  grid-template-areas: ". progress"
}